*{
    margin: 0;
    border: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.name{
    font-family: 'Poppins';
    display: flex;
    color: #747474;
    font-weight: 1000;
    justify-content: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    height: 80vh;
    background: #ffffff;
    display: flex;
    margin-top: 0px;
    padding-top: 0px;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.115),5px 5px 15px rgba(0, 0, 0, 0.499);

}

.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
    border-radius: 10px;
    box-shadow:inset 9px 9px 16px rgba(255, 255, 255, 0.105),
    inset -9px -9px 16px rgba(0, 0, 0, 0.132) ;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.AC{
    width: 102px;
}
form input.C{
    width: 102px;
}
form input.operator{
    color: rgb(20, 255, 247);
}